/* Size for brand */
nav .navbar-brand
{
	padding: 10px;
	font-size: xx-large;
}

nav .navbar-brand .green
{
	color: rgba(7, 36, 124, 0.6);
}

nav {
	background-color: white;
	background-image: none;
	position: absolute; /* Ensure navbar is in its own context */
	width: 100%;
}

.nav-img {
	height: 1.5em;
	vertical-align: middle;
}

.navbar-brand:hover {
	transform: scale(1.05);
}

.blue-band {
	background-color: rgba(30, 119, 201, 0.3);
	width: 100%; /* Makes it span the entire width of the navbar */
	top: 0;
	position: relative;
}
