/* Size for brand */
nav .navbar-brand
{
	padding: 10px;
	font-size: xx-large;
}

nav {
	background-color: white;
	background-image: none;
	position: absolute; /* Ensure navbar is in its own context */
	width: 100%;
}

.nav-img {
	height: 1.5em;
	vertical-align: middle;
}

.navbar-brand:hover {
	transform: scale(1.05);
}

.blue-band {
	background-color: rgba(30, 119, 201, 0.3);
	width: 100%; /* Makes it span the entire width of the navbar */
	top: 0;
	position: relative;
}

.btn {
	border-radius: 50px; /* Rounded corners */
	padding: 10px 20px; /* Internal padding for the buttons */
	background-color: rgba(7, 36, 124, 0.6); /* Blue background color for visibility */
	color: rgb(255, 255, 255); /* Text color */
	border: none; /* Removes default border */
	font-weight: bold; /* Makes text bold */
	cursor: pointer; /* Changes cursor to pointer on hover */
	transition: background-color 0.3s, transform 0.2s; /* Smooth transition on hover */
	text-align: center;
	text-decoration: none; /* Ensures no underline for links */
	display: inline-block; /* Ensures the element behaves like a button */
	text-transform: uppercase; /* Makes the text uppercase */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
	transform: scale(1.2); /* Slightly enlarge the button on hover */
}

.btn:focus {
	outline: none; /* Removes the focus outline */
}
