/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.nav-img {
    height: 1.5em;
    vertical-align: middle;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 300px;
    margin: 0 auto;
}

#timer {
    font-size: 3em;
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

.tomato-container {
    position: relative;
    width: 350px;
    height: 350px;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.plus-image, .minus-image {
    position: absolute;
    width: 60px;
    cursor: pointer;
  }

.plus-image {
    bottom: 40px; /* Adjust the position as needed */
    right: 70px;  /* Adjust the position as needed */
}

.minus-image {
    bottom: 40px; /* Adjust the position as needed */
    right: 170px;  /* Adjust the position as needed */
}


.timer-display {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.control-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px; /* Adjust the space between the timer and the buttons */
}

.control-buttons img {
    width: 60px;
    cursor: pointer;
}

