{% extends "layout.html" %}

{% block title %}
	Home
{% endblock %}

{% block main %}

	<div class="container tomato-wrapper">
		<div class="tomato-container"
			style="background-image: url('{{ url_for('static', filename='images/tomato.png') }}');">

			<div id="timer" class="timer-display"></div>
			<div class="adjustment-buttons">
				<img src="{{ url_for('static', filename='images/plus.png') }}"
					class="plus-image play-buttons" alt="Add 5 minutes" onclick="changeTime(5)">
				<img src="{{ url_for('static', filename='images/minus.png') }}"
					class="minus-image play-buttons" alt="Subtract 5 minutes" onclick="changeTime(-5)">
			</div>
		</div>
		<div class="control-buttons">
			<img src="{{ url_for('static', filename='images/start.png') }}"
				class="control-btn play-buttons" alt="start" onclick="startTime()">
			<img src="{{ url_for('static', filename='images/pause.png') }}"
				class="control-btn play-buttons" alt="pause" onclick="pauseTime()">
			<img src="{{ url_for('static', filename='images/stop.png') }}"
				class="control-btn play-buttons" alt="stop" onclick="stopTime()">
		</div>
	</div>

	<div id="confirmationModal" class="modal">
		<div class="modal-content">
			<p>Abandon Session?</p>
			<button id="confirmButton" class="modal-button">Yes</button>
			<button id="cancelButton" class="modal-button">Cancel</button>
		</div>
	</div>

	<audio id="ticktac-sound" preload="auto" loop>
		<source src="{{ url_for('static', filename='sounds/tictac.wav') }}" type="audio/wav">
	</audio>
	<script src="{{ url_for('static', filename='js/buttons.js') }}"></script>

{% endblock %}

