{% extends "layout.html" %}

{% block title %}
	Leaderboard
{% endblock %}

{% block main %}
	<div class="leaderboard">
		<h2>Leaderboard</h2>
		<div class="leaderboard-header">
			<div class="rank">Rank</div>
			<div class="user">User</div>
			<div class="time">Time Worked (Minutes)</div>
		</div>
		<div class="leaderboard-rows">
			<div class="leaderboard-row">
				<div class="rank">1</div>
				<div class="user">Alice</div>
				<div class="time">125</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">2</div>
				<div class="user">Bob</div>
				<div class="time">120</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">3</div>
				<div class="user">Charlie</div>
				<div class="time">110</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">4</div>
				<div class="user">Diana</div>
				<div class="time">105</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">5</div>
				<div class="user">Eve</div>
				<div class="time">100</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">6</div>
				<div class="user">Frank</div>
				<div class="time">95</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">7</div>
				<div class="user">Grace</div>
				<div class="time">90</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">8</div>
				<div class="user">Hank</div>
				<div class="time">85</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">9</div>
				<div class="user">Ivy</div>
				<div class="time">80</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">10</div>
				<div class="user">Jack</div>
				<div class="time">75</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">11</div>
				<div class="user">Kara</div>
				<div class="time">70</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">12</div>
				<div class="user">Liam</div>
				<div class="time">65</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">13</div>
				<div class="user">Mona</div>
				<div class="time">60</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">14</div>
				<div class="user">Nina</div>
				<div class="time">55</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">15</div>
				<div class="user">Oscar</div>
				<div class="time">50</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">16</div>
				<div class="user">Paul</div>
				<div class="time">45</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">17</div>
				<div class="user">Quinn</div>
				<div class="time">40</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">18</div>
				<div class="user">Rita</div>
				<div class="time">35</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">19</div>
				<div class="user">Sam</div>
				<div class="time">30</div>
			</div>
			<div class="leaderboard-row">
				<div class="rank">20</div>
				<div class="user">Tina</div>
				<div class="time">25</div>
			</div>
		</div>
	</div>
{% endblock %}
