{% extends "layout.html" %}

{% block title %}
	Leaderboard
{% endblock %}

{% block main %}
	<div class="leaderboard-container">
		<div class="leaderboard">
			<h2>Leaderboard</h2>
			<div class="leaderboard-header leader-container">
				<div class="rank">Rank</div>
				<div class="user">User</div>
				<div class="time">Time Worked</div>
			</div>
			<div class="leaderboard-rows ">
				{% for entry in leaderboard_data %}
					<div class="leaderboard-row leader-container">
						<div class="rank">{{ entry.rank }}</div>
						<div class="user">{{ entry.username }}</div>
						<div class="time">{{ entry.total_time }}</div>
					</div>
				{% endfor %}
				{% if leaderboard_data|length < 11 %}
					{% for i in range(leaderboard_data|length, 11) %}
						<div class="leaderboard-row more-users leader-container">
							<div class="rank">...</div>
							<div class="user">...</div>
							<div class="time">...</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="leaderboard-navigation">
			<a href="{{ url_for('main.leaderboard.show_leaderboard', timeframe=timeframe, action='prev') }}">
				<button>Prev</button>
			</a>
			<a href="{{ url_for('main.leaderboard.show_leaderboard', timeframe=timeframe, action='next') }}">
				<button>Next</button>
			</a>
		</div>
	</div>
	<div class="blurred-leaderboards-left">
		<img src="{{ url_for('static', filename='images/day-leaderboard.png') }}" alt="Day Leaderboard" class="blurred-leaderboard-left">
	</div>
	<div class="blurred-leaderboards-right">
		<img src="{{ url_for('static', filename='images/day-leaderboard.png') }}" alt="Day Leaderboard" class="blurred-leaderboard-right">
	</div>
	<script src="{{ url_for('static', filename='js/leaderboard.js') }}"></script>
{% endblock %}
