{% extends "layout.html" %}

{% block title %}
	Session
{% endblock %}

{% block main %}
	<body>
		<div class="container">
			<!-- Tomato container with background-image set using url_for -->
			<div class="tomato-container" style="background-image: url('{{ url_for('static', filename='images/tomato.png') }}');">
				<div id="timer" class="timer-display">00:00</div>
			</div>

			<div id="status"></div>
		</div>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</body>
{% endblock %}
