{% extends "layout.html" %}

{% block title %}
	Statistics
{% endblock %}

{% block main %}
	<div class="stats-main-wrapper">
		<div class="big-chart-container">
			<div>
				<canvas id="dailyChart"></canvas>
			</div>
			<div class="statistics small-chart-container">
				<div class="stat-item">
					<span class="stat-title">Sessions Today:</span>
					<span class="stat-value">{{ daily|length }}</span>
				</div>
				<div class="stat-item">
					<span class="stat-title">Average Time:</span>
					<span class="stat-value">
						{% if daily|length > 0 %}
							{{ (daily|map(attribute='session_time')|sum) / daily|length }} min
						{% else %}
							No sessions today
						{% endif %}
					</span>
				</div>
				<div class="stat-item">
					<span class="stat-title">Total Time:</span>
					<span class="stat-value">{{ daily|map(attribute='session_time')|sum }} min</span>
				</div>
				<div class="stat-item">
					<span class="stat-title">Longest Session:</span>
					<span class="stat-value">{{ daily|map(attribute='session_time')|max }} min</span>
				</div>
			</div>
		</div>
		<div class="all-charts-container">
			<div class="small-chart-container">
				<canvas id="weeklyChart"></canvas>
			</div>
			<div class="small-chart-container">
				<canvas id="monthlyChart"></canvas>
			</div>
			<div class="small-chart-container">
				<canvas id="yearlyChart"></canvas>
			</div>
			<div class="small-chart-container">
				<canvas id="yearsChart"></canvas>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
	<script>
		const dayData = {{ daily | tojson }};
		const weekData = {{ weekly | tojson }};
		const monthData = {{ monthly | tojson }};
		const yearData = {{ yearly | tojson }};
		const yearsData = {{ years | tojson }};
	</script>
	<script src="{{ url_for('static', filename='js/dayStats.js') }}" defer></script>
	<script src="{{ url_for('static', filename='js/weekStats.js') }}" defer></script>
	<script type="module" src="{{ url_for('static', filename='js/monthStats.js') }}" defer></script>
	<script type="module" src="{{ url_for('static', filename='js/yearStats.js') }}" defer></script>
	<script type="module" src="{{ url_for('static', filename='js/yearsStats.js') }}" defer></script>
{% endblock %}

